#place this in /etc/systemd/system/
[Unit]
Description=Attach GPU after boot
[Service]
Type=simple
User=root
RemainAfterExit=true
ExecStart=/usr/local/sbin/attachgpu.sh
[Install]
WantedBy=multi-user.target
